/**
 * &Samhoud theme for reveal.js. 
 *
 * By Danny de Vries
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------


// Override theme settings (see ../template/settings.scss)
$backgroundColor: #fff;

$mainColor: #009EE0;
$headingColor: #009EE0;

$mainFontSize: 30px;
$mainFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headingFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$headingTextShadow: none;
$headingLetterSpacing: normal;
$headingTextTransform: normal;
$headingFontWeight: 600;
$linkColor: #009EE0;
$linkColorHover: lighten( $linkColor, 15% );
$selectionBackgroundColor: lighten( $linkColor, 25% );

$heading1Size: 2.5em;
$heading2Size: 1.6em;
$heading3Size: 1.3em;
$heading4Size: 1.0em;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
	text-align: center !important; 
}

.slides section {
	text-align: left;
}

hr {
	width: 10%;
	background:$backgroundColor;
	height: 3px;
	border: none;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------